* {
    margin: 0;
    padding: 0;
}

.header-banner {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.header {
    height: 60px;
}
.header_1 h1 {
    font-size: 22px;
    background-color: #d8ff00;
    font-weight: bold;
}
.header_1 {
    background-color: #d8ff00;
}

.header div {
    border: solid 1px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_2 {
    border: none;
}
.header_6 img {
    width: 40px;
}

/*Fin header*/
.title h1 {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: black;
}
.sub_title h2 {
    text-align: center;
    font-size: 18px;
    padding: 10px 0 10px 0;
    color: black;
    background-color: #d8ff00;
}
/*fin title*/
.coleccion_1 div {
    text-align: center;
}
.section_3 div h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    color:black;
    font-weight: bold;
}
.section_5 div {
    display: flex;
    justify-content: center;
}
.section_5 div button {
    width: 200px;
    height: 40px;
    background-color: black;
    color: #d8ff00;
    border: none;
}
.descuento {
    background: linear-gradient(to bottom, #d8ff00, white);
}